.avatar-color-0 {
	background-color: #D73C2C;
}
.avatar-color-1 {
	background-color: #870000;
}
.avatar-color-2 {
	background-color: #ca2c68;
}
.avatar-color-3 {
	background-color: #fa5c98;
}
.avatar-color-4 {
	background-color: #7e349d;
}
.avatar-color-5 {
	background-color: #3e005d;
}
.avatar-color-6 {
	background-color: #0067b0;
}
.avatar-color-7 {
	background-color: #22A7F0;
}
.avatar-color-8 {
	background-color: #009b90;
}
.avatar-color-9 {
	background-color: #106b60;
}
.avatar-color-10 {
	background-color: #106b60;
}
.avatar-color-11 {
	background-color: #006c11;
}
.avatar-color-12 {
	background-color: #f9b32f;
}
.avatar-color-13 {
	background-color: #e67e22;
}
.avatar-color-14 {
	background-color: #5c6a79;
}
.avatar-color-15 {
	background-color: #2c3a49;
}
